@font-face {
  font-family: 'TheSeasons', serif;
  src: url('./TheSeasons.otf') format('opentype');
}

@font-face {
  font-family: 'HKGrotesk', sans-serif;
  src: url('./HKGrotesk-Regular.otf') format('opentype');
}